<?xml version="1.0" encoding="UTF-8"?>
<plugin
    id="cordova-plugin-app-icon-changer"
    version="1.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>App Icon Changer</name>
    <description>Change iOS app icon at runtime</description>
    <license>MIT</license>

    <!-- JavaScript interface -->
    <js-module name="AppIconChanger" src="www/AppIconChanger.js">
        <clobbers target="AppIconChanger" />
    </js-module>


<platform name="android">

        <!-- Register native plugin -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="changeappicon">
                <param
                    name="android-package"
                    value="com.cordova.changeappicon.changeappicon" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- Native Java file -->
        <source-file
            src="src/android/changeappicon.java"
            target-dir="src/com/cordova/changeappicon" />

        <!-- ================= ICONS ================= -->

        <resource-file
            src="src/android/icons/app_light.png"
            target="res/drawable/app_light.png" />

        <resource-file
            src="src/android/icons/app_dark.png"
            target="res/drawable/app_dark.png" />

        <resource-file
            src="src/android/icons/app_private.png"
            target="res/drawable/app_private.png" />

        <!-- ================= MANIFEST INJECTION ================= -->

        <config-file target="AndroidManifest.xml" parent="application">

            <!-- LIGHT (default) -->
            <activity-alias
                android:name="Light"
                android:enabled="true"
                android:icon="@drawable/app_light"
                android:exported="true"
                android:targetActivity=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity-alias>

            <!-- DARK -->
            <activity-alias
                android:name="Dark"
                android:enabled="false"
                android:icon="@drawable/app_dark"
                android:exported="true"
                android:targetActivity=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity-alias>

            <!-- PRIVATE -->
            <activity-alias
                android:name="Private"
                android:enabled="false"
                android:icon="@drawable/app_private"
                android:exported="true"
                android:targetActivity=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity-alias>

        </config-file>

    </platform>

    

    <platform name="ios">

        <!-- ✅ REQUIRED: Register native plugin with Cordova -->
        <config-file parent="/*" target="config.xml">
            <feature name="AppIconChanger">
                <param name="ios-package" value="AppIconChanger" />
            </feature>
        </config-file>

        <!-- Native source files -->
        <header-file src="src/ios/AppIconChanger.h" />
        <source-file src="src/ios/AppIconChanger.m" />

        <!-- ✅ Icon files copied into app bundle -->
        <!-- LIGHT -->
        <resource-file src="src/ios/icons/light.png" />
        <resource-file src="src/ios/icons/light@2x.png" />
        <resource-file src="src/ios/icons/light@3x.png" />

        <!-- DARK -->
        <resource-file src="src/ios/icons/dark.png" />
        <resource-file src="src/ios/icons/dark@2x.png" />
        <resource-file src="src/ios/icons/dark@3x.png" />

        <!-- PRIVATE -->
        <resource-file src="src/ios/icons/private.png" />
        <resource-file src="src/ios/icons/private@2x.png" />
        <resource-file src="src/ios/icons/private@3x.png" />

        <!-- ✅ Alternate icon declarations -->
        <config-file target="*-Info.plist" parent="CFBundleIcons">
            <dict>
                <key>CFBundleAlternateIcons</key>
                <dict>

                    <key>light</key>
                    <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                            <string>light</string>
                        </array>
                    </dict>

                    <key>dark</key>
                    <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                            <string>dark</string>
                        </array>
                    </dict>

                    <key>private</key>
                    <dict>
                        <key>CFBundleIconFiles</key>
                        <array>
                            <string>private</string>
                        </array>
                    </dict>

                </dict>
            </dict>
        </config-file>

    </platform>
</plugin>
